In [1]:
x = 4
y = 2


print(x + y)

6

In [2]:
x = 5.34
y = 5.0

print(x + y)

print(x - y)

print(x * y)

print(x / y)

print(x % y) 

print(abs(x))

print(x ** y)

10.34
0.33999999999999986
26.7
1.068
0.33999999999999986
5.34
4342.164627542399

In [3]:
x = 'Gun'
y = 'Seal'

print(x + ' X ' + y)

print(x * 2)

Gun X Seal
GunGun

In [4]:
myName = 'Pallav'
z1 = myName[2:] 

print(z1)

z2 = myName[0] + myName[5] 

print(z2)

llav
Pv

In [5]:
x = '2'
y = '1'

x + y

'21'

In [6]:
str.capitalize('chavda')

'Chavda'

In [7]:
str1 = "We love Data Science"
str2 = "7533"
len(str1)

20

In [8]:
str1.isdigit()

False

In [9]:
str2.isdigit()

True

In [10]:
str3 = 'like'
str1.replace('love', str3)

'We like Data Science'

In [14]:
str1

'We love Data Science'

In [16]:
x = 4
y = 2
z = (x==y) 
if z: 
    print("We want  Data Scientists")
else: 
    print("We DO'nt want  Data Scientists")

We DO'nt want  Data Scientists

In [17]:
x = 6.0 
y = 3 

z = x/y

type(z)

float

In [20]:
x = 1
y = "Game of cricket: Season "
fav_season = (y) + str(x)
print(fav_season)

Game of cricket: Season 1