In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['StudentId','Rank','Age']
my_list = [100,4,24]
arr = np.array([100,4,24])
d = {'StudentId':100,'Rank':4,'Age':24}

In [3]:
pd.Series(data=my_list)

0    100
1      4
2     24
dtype: int64

In [4]:
pd.Series(data=my_list,index=labels)

StudentId    100
Rank           4
Age           24
dtype: int64

In [5]:
pd.Series(my_list,labels)

StudentId    100
Rank           4
Age           24
dtype: int64

In [6]:
pd.Series(arr)

0    100
1      4
2     24
dtype: int32

In [7]:
pd.Series(arr,labels)

StudentId    100
Rank           4
Age           24
dtype: int32

In [8]:
pd.Series(d)

StudentId    100
Rank           4
Age           24
dtype: int64

In [9]:
pd.Series(data=labels)

0    StudentId
1         Rank
2          Age
dtype: object

In [10]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [11]:
ser1 = pd.Series([1,2,3,4],index = ['ahmedabad', 'surat','Deesa', 'dang'])

In [12]:
ser1

ahmedabad    1
surat        2
Deesa        3
dang         4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],index = ['ahmedabad', 'surat','gandhinagar', 'dang'])

In [16]:
ser2

ahmedabad      1
surat          2
gandhinagar    5
dang           4
dtype: int64

In [18]:
ser1['surat']

2

In [19]:
ser1 + ser2

Deesa          NaN
ahmedabad      2.0
dang           8.0
gandhinagar    NaN
surat          4.0
dtype: float64